.um_modal_body{
  font-size: 14px;
  padding: 10px 30px;
}

.um_modal_body .selectChange{
  box-shadow: none !important;
  border-inline-end-width: 0px !important;
  border-width: 0px 0px 2px 0px !important;
  border-color: #0090DA !important;
  border-radius: 0px !important;
  width: 100%;
  margin: 12px 0px !important;
  
}

.um_modal_body .ant-select-selector {
  padding-left: 10px !important;
}
